#watch{
    width:300px;
    background-color: grey;
    text-align: center;
    margin:10px;
    padding: 50px;
}
span{
    align-content: center;
    text-align: center;
}
button{
  align-items: center;
}
#form{
  margin:15px;
  border:1x solid black;
}
#formContainer input[type=text]{
  margin:10px;
}
submitInfo
